<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Sign Up</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6">
                    <a href="javascript:void(0)" class="logo"><img src="img/logo.png" alt=""></a>
                </div>
                <div class="col-6 logout-btn">
                    <a href="javascript:void(0)">Brand Check Platform</a>
                </div>
            </div>
        </div>
    </header>
    <div class="body-container-wrapper neurovision-upload">
        <div class="login-background">
            <div class="container-fluid">
                <div class="login-form document-form">
                    <div class="d-flex justify-content-between align-items-center form-group">
                        <span class="help-text">PLEASE FILL IN THE REQUIRED INFORMATION TO REGISTER</span>
                        <a href="javascript:void(0)" class="btn">Back</a>
                    </div>
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="First Name" class="form-control">
                                    <span class="exception-err error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Last Name" class="form-control">
                                    <span class="exception-err error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Email Id" class="form-control">
                                    <span class="exception-err error"></span>
                                </div>
                            </div><div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" id="country" name="country">
                                        <option value="">Select Country</option>
                                        <option value="India">India</option>
                                        <option value="USA">USA</option>
                                    </select>
                                    <span class="country-err error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" id="division" name="division">
                                        <option value="">Select Division</option>
                                        <option value="Primary Care division">Primary Care division</option>
                                        <option value="Specialty Care-Methabolics and Urology division">Specialty Care-Methabolics and Urology division</option>
                                        <option value="Specialty Care-Neuroscience division">Specialty Care-Neuroscience division</option>
                                        <option value="Hospital Care">Hospital Care</option>
                                    </select>
                                    <span class="division-err error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" id="audience" name="audience">
                                        <option value="">Select Function</option>
                                        <option value="Patient">Patient</option>
                                        <option value="Consumer">Consumer</option>
                                        <option value="Doctor">Doctor</option>
                                    </select>
                                    <span class="audience-err error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Password" class="form-control">
                                    <span class="exception-err error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Confirm Password" class="form-control">
                                    <span class="exception-err error"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="tnc">
                                    <input type="checkbox" name="tnc" id="tnc">
                                    <span>Agree, Terms & Conditions</span>
                                </label>
                            </div>
                            <div class="col-12">
                                <div class="btn-group">
                                    <button class="btn"><span>Register</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="container-fluid">
                <a href="javascript:void(0)">Support</a>
            </div>
        </div>
    </footer>
</body>

</html>